<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>./views/index.html</h1>
    <a href="./views/restApi.html">CRUD 확인</a>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem,
      eaque? Error esse, minus magni deleniti sapiente quis dolorem numquam
      omnis autem explicabo? Enim illum accusantium architecto placeat libero
      veniam perspiciatis.
    </p>
    <img src="/images/pear-solid-24.png" alt="" />
  </body>
</html>
