:root {
  --theme-gray: #ededed;
  --theme-red: rgb(199, 0, 0);
}

header {
  border-bottom: 1px solid var(--theme-gray);
  padding: 1em;
}

.header {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bars {
  width: 30px;
  height: 30px;
  border: 1px solid var(--theme-gray);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  display: none;
  cursor: pointer;
  /* 
  https://developer.mozilla.org/ko/docs/Web/CSS/cursor
   */
}

.bars span {
  display: block;
  width: 50%;
  height: 3px;
  background-color: var(--theme-gray);
}

/* .lnb {
  position: relative;
  z-index: 999;
} */

.lnb ul {
  display: flex;
  gap: 50px;
}

.lnb a {
  display: block;
  padding: 10px;
}
.lnb a:hover {
  background-color: var(--theme-gray);
}

header h1 i {
  color: var(--theme-red);
}

footer {
  background-color: var(--theme-gray);
  padding: 1em;
}
.footer {
  width: 1200px;
  margin: auto;
}
.footer address {
  font-style: normal;
}
@media screen and (max-width: 1250px) {
  .header {
    width: 98%;
  }
  .footer {
    width: 98%;
  }
}
@media screen and (max-width: 1000px) {
  .lnb ul {
    gap: 10px;
  }
}
@media screen and (max-width: 670px) {
  .lnb {
    position: absolute;
    top: 5em;
    left: 0;
    z-index: 999;
    color: #333;
    background-color: white;
    width: 100%;
  }

  .lnb li {
    border-bottom: 1px solid var(--theme-gray);
  }

  .lnb ul {
    display: none;
    flex-direction: column;
    gap: 0;
  }
  /* 데스크탑에서 디자인 해도 되는데  */
  .bars {
    display: flex;
  }
  .bars:hover + .lnb ul {
    display: flex;
  }
}
